@using GPnaviServer.Models;

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserStatus;
<script type="text/javascript">
    $(function () {
        $('#topPageLink').hide();
        $('#naviUserName').text('@ViewBag.LoginName');

        Cookies.set('SessionKey', '@Html.Raw(Model.SessionKey)');
        Cookies.set('LoginId', '@Html.Raw(Model.LoginId)');
        Cookies.set('LoginName', '@Html.Raw(ViewBag.LoginName)');
        $('input[name="LoginId"]').val('@Model.LoginId');
        $('input[name="SessionKey"]').val('@Model.SessionKey');


        let eventChain = 0;
        $(".home-btn").hover(
            function () {
                $(this).before($('#hover'));
                $('#hover').prop('hidden', false);
            },
            function () {
                ;
            }
        );

        $("#hover").hover(
            function () {
                ;
            },
            function () {
                $('#hover').prop('hidden', true);
                $('#operations').prepend($('#hover'));
                eventChain = eventChain==1 ? 2 : 0;
            }
        );


        $("#hover").mouseup(function () {
        }).mousedown(
            function () {
                $(this).before($('#press'));
                $('#press').prop('hidden', false);
                $('#hover').prop('hidden', true);
                $('#operations').prepend($('#hover'));
                eventChain = 1;
            }
        );

        $("#press").mouseup(function () {
            if (eventChain == 2) {
                $(this).parent()[0].click();
            }
            $('#hover').prop('hidden', false);
            $('#operations').prepend($('#press'));
            $('#press').prop('hidden', true);
        });

        $("#press").mouseleave(function () {
            $('#operations').prepend($('#press'));
            $('#press').prop('hidden', true);
        });      
    });
  
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 mx-auto" id="operations">
            <br /><br /><br />
            <img id="hover" class="alpha-btn" src="~/images/hover_btn.png" alt="btn_hover" hidden />
            <img id="press" class="alpha-btn" src="~/images/press_btn.png" alt="btn_press" hidden />


            <a href="/WS/TimeAggregate?loginId=@Model.LoginId&sessionKey=@Model.SessionKey" tabIndex="2">
                <img class="home-btn" src="~/images/time_btn.png" alt="時間帯別集計time_btn" />
            </a>

                
            <a href="/WS/DayAggregate?loginId=@Model.LoginId&sessionKey=@Model.SessionKey" tabIndex="3">
                <img class="home-btn"  src="~/images/day_btn.png" alt="日別集計day_btn" />
            </a>


            <a href="/WS/upload?loginId=@Model.LoginId&sessionKey=@Model.SessionKey" tabIndex="4">
                <img class="home-btn" src="~/images/up_btn.png" alt="日別集計up_btn" />
            </a>


        </div>
    </div>
</div>

<style>
    .alpha-btn {
        position: absolute;       
    }

    .home-btn {        
    }
</style>